@import './color.scss';
.App {
  display: grid;
  grid-template-rows: min-content 100%;
  grid-template-columns: min-content 1fr;
  overflow-y: hidden;

  .content {
    background-color: $hellblau;
    padding: 5rem;
    // border-top: 2px solid #01498e;
  }
}
