@import './color.scss';
.App {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
  overflow-y: hidden;
  height: 100vh;
  &__menu__container {
    width: 18rem;
  }
  .content {
    height: 100vh;
    position: relative;
    background-color: $hellblau;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: 15%;
    width: 100%;
    background-color: $hellgrau-2;
  }
}
