//// Colors
$primary_color: #0068a6;
$primary_color-85a: rgba(0, 104, 166, 0.85);
$primary_color-7a: rgba(0, 104, 166, 0.7);
$primary_color-5a: rgba(0, 104, 166, 0.5);
$primary_color-35a: rgba(0, 104, 166, 0.35);
$primary_color-2a: rgba(0, 104, 166, 0.2);
$logoblau: #0068a6;
$logoblau-abstufung: #01498e;
$dunkelblau: #2b84c1;
$produkt-blau: #45c0eb;
$dunkelgrau: #404040;
$mittelgrau: #787c81;
$logograu: #a5abb1;
$hellblau: #d6e4ed;
$hellgrau-1: #bfc7cf;
$hellgrau-2: #eff2f5;
$park-gr-n: #68c6a4;
$park-gr-n-abstufung: #4d8e76;
$burgunder: #9e2965;
$burgunder-abstufung: #7a1046;
$orange: #f68e62;
$orange-abstufung: #d66638;
$rot: #e84855;
$rot-abstufung: #c1303c;
$smaragd-gr-n: #379d91;
$smaragd-gr-n-abstufung: #1f665e;
$gelb: #ffd23e;
$gelb-abstufung: #d7b02d;
$lavendel: #c2bcd3;
$lavendel-abstufung: #847b9e;
$lila: #7672aa;
$lila-abstufung: #545179;
$sand: #ebdab0;
$sand-abstufung: #c3b289;
$black: #000000;
$white: #ffffff;

// hover
