.menu__container {
  height: 100vh;
  //   border: 1px solid black;
  width: 15rem;
  display: flex;
  flex-direction: column;

  //   background-image: linear-gradient(rgb(177, 177, 177), rgb(58, 58, 58));

  // .menu__title {
  //   font-size: 1.6rem;
  //   // border: 1px solid pink;
  //   padding: 0.5rem 1rem;
  //   cursor: pointer;
  // }

  .container {
    // padding: 0.5rem 1.6rem;

    &__title {
      font-size: 1.6rem;
      padding: 1rem 2rem;
      cursor: pointer;

      a {
        text-decoration: none;
      }
      a:visited {
        color: rgb(71, 70, 70);
      }
    }
    &__menuItems {
      &--Analytics {
      }
      // padding: 2rem;

      .menu__item {
        list-style: none;
        a {
          padding: 8px 8px 8px 4rem;
          text-decoration: none;
          font-size: 1.3rem;
          color: #818181;
          display: block;
          transition: 0.2s;
        }
        a:hover {
          // color: black;
        }
      }
      .menu__item:hover {
        background-color: rgb(85, 85, 85);
        a {
          color: white;
        }
      }
    }
  }
}
